<ion-header [translucent]="true">
  <ion-header [translucent]="true">
    <ion-toolbar color="medium">
      <ion-img src="assets/icon/logoduoc.png"></ion-img>
    </ion-toolbar>
    <ion-button size="small" id="Bvolver" color="warning"  [routerLink]="['/menu']">
      <ion-icon slot="start" name="arrow-back">
      </ion-icon>
    </ion-button>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
  <ion-card-header>
    <ion-card-title>San Joaquín</ion-card-title>
    <ion-card-subtitle>Informática y telecomunicaciones</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Elías Gabriel Montesinos Sayado</ion-label>
    </ion-item>
    <ion-item>
      <ion-label id="rut">21.364.228-k</ion-label>
    </ion-item>
    <ion-item>
      <ion-label id="Noche">Vespertino</ion-label>
    </ion-item>
    <ion-item>
      <ion-label id="carrera">Analista programador computacional</ion-label>
    </ion-item>
  </ion-card-content>

  <ion-button fill="clear"></ion-button>
  <ion-button fill="clear"></ion-button>
</ion-card>
</ion-content>
