<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>

    <ion-card-title> {{infoQr.asignatura}}</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      <p>Asignatura: {{infoQr.asignatura}}  </p>
      <p>Docente: {{infoQr.docente}}</p>
      <p>Fecha:  {{infoQr.fecha}}</p>
      <p>Hora {{infoQr.hora}}</p>
      <p>Sala: {{infoQr.sala}} </p>
      <p>Seccion: {{infoQr.seccion}}  </p>
      <p>Leccion: {{infoQr.leccion}}  </p>

      <ion-button shape="round" (click)="guardarAsistencia()">guardar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
