<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-img src="assets/icon/logoduoc.png"></ion-img>
  </ion-toolbar>
  <ion-button size="small" id="Bvolver" color="warning"  [routerLink]="['/menu']">
    <ion-icon slot="start" name="arrow-back"></ion-icon>
  </ion-button>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
   <ion-label id="labelB">
     <h1>Asistencia</h1>
    </ion-label>
  </ion-item>
  <ion-card *ngFor="let i of asistencias">
    <ion-card-header>
      <ion-card-title>{{ i.asignatura }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Docente: {{ i.docente }}</p>
      <p>Fecha: {{ i.fecha }}</p>
      <p>Hora: {{ i.hora }}</p>
      <p>Leccion: {{ i.leccion }}</p>
      <p>Sala: {{ i.sala }}</p>
      <p>Seccion: {{ i.seccion }}</p>

      <!-- <ion-button (click)="eliminarAsistencia(i)">Eliminar</ion-button> -->
    </ion-card-content>
  </ion-card>
   
  
 </ion-content>

 